@charset "UTF-8";
/*!
 * ress.css 窶｢ v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

body {
  font-family: "Noto Sans JP";
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.l-header {
  width: 100%;
  height: 94px;
  background-color: #fff;
  position: fixed;
  z-index: 1000;
  color: #333333;
  line-height: 1.2;
}

@media (min-width: 1280px) {
  .l-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
  }
}

.l-header .c-button__nav {
  scroll-behavior: smooth;
  display: none;
}

@media (min-width: 1280px) {
  .l-header .c-button__nav {
    display: block;
    color: #fff;
    padding: 11px 36px 12px 35px;
    width: 30%;
    font-size: 14px;
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: 0px 3px 6px #00000029;
  }
}

.l-header__left {
  display: flex;
  align-items: center;
  margin: 0 25px;
  height: 100%;
}

@media (min-width: 768px) {
  .l-header__left {
    margin: 0 40px;
  }
}

@media (min-width: 1280px) {
  .l-header__left {
    margin: 0;
  }
}

.l-header h1 {
  margin-left: 20px;
  font-size: 24px;
}

.l-header__inner {
  display: flex;
  justify-content: space-between;
  height: 94px;
  width: 100%;
}

@media (min-width: 1280px) {
  .l-header__inner {
    max-width: 1022px;
  }
}

.l-header__logo {
  width: 47px;
  height: 47px;
  object-fit: cover;
}

.l-main {
  width: 100%;
  height: 100%;
  background: url(../image/maru.png);
  background-position: top -60px right -60px;
  display: block;
  background-repeat: no-repeat;
  background-size: auto;
}

.l-header {
  width: 100%;
  height: 94px;
  background-color: #fff;
  position: fixed;
  z-index: 1000;
  color: #333333;
  line-height: 1.2;
}

@media (min-width: 1280px) {
  .l-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
  }
}

.l-header .c-button__nav {
  scroll-behavior: smooth;
  display: none;
}

@media (min-width: 1280px) {
  .l-header .c-button__nav {
    display: block;
    color: #fff;
    padding: 11px 36px 12px 35px;
    width: 30%;
    font-size: 14px;
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: 0px 3px 6px #00000029;
  }
}

.l-header__left {
  display: flex;
  align-items: center;
  margin: 0 25px;
  height: 100%;
}

@media (min-width: 768px) {
  .l-header__left {
    margin: 0 40px;
  }
}

@media (min-width: 1280px) {
  .l-header__left {
    margin: 0;
  }
}

.l-header h1 {
  margin-left: 20px;
  font-size: 24px;
}

.l-header__inner {
  display: flex;
  justify-content: space-between;
  height: 94px;
  width: 100%;
}

@media (min-width: 1280px) {
  .l-header__inner {
    max-width: 1022px;
  }
}

.l-header__logo {
  width: 47px;
  height: 47px;
  object-fit: cover;
}

.p-hamburger {
  position: relative;
  top: 20%;
  right: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: block;
}

@media (min-width: 1280px) {
  .p-hamburger {
    display: none;
  }
}

.p-hamburger span {
  width: 30px;
  height: 2px;
  font-size: 0;
  position: absolute;
  background: #2498b3;
  background-size: auto 1px;
  left: calc(50% - (20px / 2));
  top: 50%;
  transition: transform 0.2s;
}

.p-hamburger.is-open span {
  display: none;
}

.p-hamburger.is-open::after {
  transform: rotate(-45deg);
  top: 24px;
}

.p-hamburger.is-open::before {
  transform: rotate(45deg);
  top: 24px;
}

.p-hamburger::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #2498b3;
  position: absolute;
  left: calc(50% - (20px / 2));
  display: block;
  transition: transform 0.2s;
  bottom: 15px;
}

.p-hamburger::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #2498b3;
  position: absolute;
  left: calc(50% - (20px / 2));
  display: block;
  transition: transform 0.2s;
  top: 15px;
}

.p-dropdown-menu {
  width: 100%;
  text-align: center;
  background-color: #fff;
}

@media (min-width: 1280px) {
  .p-dropdown-menu {
    height: 30px;
  }
}

.p-dropdown-menu__list {
  top: 50%;
  color: black;
  display: none;
}

.p-dropdown-menu__list a {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
}

@media (min-width: 1280px) {
  .p-dropdown-menu__list a {
    color: #333333;
  }
}

.p-dropdown-menu__list a:hover {
  color: #000;
}

@media (min-width: 1280px) {
  .p-dropdown-menu__list {
    display: flex;
  }
}

.p-dropdown-menu__list.is-open {
  top: 100%;
}

.c-dropdown-menu__item {
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
}

@media (min-width: 1280px) {
  .c-dropdown-menu__item {
    list-style: none;
    border: 0;
    margin-left: 46px;
    padding: 0;
  }
}

.p-hero {
  text-align: left;
  height: 100%;
  width: 100%;
  padding-top: 200px;
}

@media (min-width: 1280px) {
  .p-hero {
    max-width: 1022px;
    margin: 0 auto;
    padding: 0;
  }
}

.p-hero__botton {
  line-height: 1.2;
  width: 155px;
  height: 37px;
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 10%;
}

@media (min-width: 1280px) {
  .p-hero__botton {
    margin: 51px 0 0 0;
  }
}

.p-hero h1 {
  line-height: 1.18;
  color: #333333;
  font-size: 32px;
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .p-hero h1 {
    padding: 168px 0 38px 0;
    width: auto;
  }
}

.p-hero p {
  line-height: 1.18;
  color: #333333;
  width: 80%;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 15px;
  font-size: 16px;
}

@media (min-width: 1280px) {
  .p-hero p {
    margin: 0;
  }
}

.p-hero img {
  width: 80%;
  margin-left: 10%;
}

@media (min-width: 768px) {
  .p-hero img {
    margin: 0;
    position: absolute;
    top: 20%;
    right: 0;
    width: 50%;
  }
}

@media (min-width: 1280px) {
  .p-hero img {
    width: auto;
    position: absolute;
    top: 20%;
    right: 15%;
  }
}

.c-headline__1 {
  font-size: 32px;
  color: #333333;
  font-weight: bold;
  line-height: 1.18;
}

@media (min-width: 1280px) {
  .c-headline__1 {
    margin: 0;
  }
}

.c-headline__1 span {
  font-weight: bold;
  color: #3ba6c9;
  font-size: 16px;
  display: block;
  margin-top: 19px;
}

.c-headline__2 {
  color: #333333;
  margin-top: 30px;
  font-size: 28px;
}

@media (min-width: 1280px) {
  .c-headline__2 {
    margin-top: 65px;
  }
}

.c-headline__3, .c-hero__contente {
  color: #333333;
  line-height: 2;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 24px;
}

@media (min-width: 1280px) {
  .c-headline__3, .c-hero__contente {
    text-align: left;
    width: 100%;
  }
}

.c-headline__4 {
  color: #333333;
  font-size: 16px;
  text-align: center;
  margin-top: 36px;
  padding-bottom: 71px;
}

.c-button {
  font-weight: bold;
  box-shadow: 0px 3px 6px #00000029;
  scroll-behavior: smooth;
  color: #fff;
  background: linear-gradient(90deg, #fa41cc 0%, #6020b0 100%);
}

.c-button a {
  text-decoration: none;
  color: #fff;
}

.p-service {
  margin-top: 150px;
  text-align: center;
  width: 100%;
  height: 100%;
}

@media (min-width: 1280px) {
  .p-service {
    margin-top: 246px;
  }
}

.p-service__wrap h2 {
  padding-bottom: 64px;
}

.p-service img {
  margin-top: 30px;
}

@media (min-width: 1280px) {
  .p-service__contente {
    display: flex;
    max-width: 1022px;
    margin: 0 auto;
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .p-service__contente__text h3 {
    line-height: 2;
  }
}

.p-service__contente__text p {
  font-weight: bold;
}

@media (min-width: 1280px) {
  .p-service__contente__text p {
    line-height: 1.6;
  }
}

@media (min-width: 1280px) {
  .p-service__contente__text {
    padding-left: 157px;
  }
}

@media (min-width: 1280px) {
  .p-service__contente__2 {
    display: flex;
    max-width: 1022px;
    margin: 0 auto;
  }
}

.u-margin {
  margin-top: 120px;
}

@media (min-width: 1280px) {
  .u-margin {
    margin-top: 94px;
  }
}

.c-hero__contente {
  margin-top: 30px;
  line-height: 1.65;
  font-size: 16px;
}

@media (min-width: 1280px) {
  .c-hero__contente {
    text-align: left;
  }
}

.p-prace {
  width: 100%;
  background-color: #eefbfb;
  margin-top: 100px;
  padding-top: 100px;
  height: 100%;
}

.p-prace h1 {
  text-align: center;
}

@media (min-width: 1280px) {
  .p-prace h4 {
    margin-top: 41px;
  }
}

.p-table {
  font-weight: bold;
  background-color: #fff;
  margin: 100px auto 0 auto;
  width: 90%;
  border-collapse: collapse;
  color: #333333;
  box-shadow: 0px 3px 6px #00000029;
}

@media (min-width: 1280px) {
  .p-table {
    margin-top: 30px;
    padding: 10px 20px 0 20px;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
  }
}

.p-table tr,
.p-table td {
  font-weight: bold;
  border-bottom: 1px solid #e5e5e5;
}

@media (min-width: 1280px) {
  .p-table tr,
  .p-table td {
    border: solid 1px #e5e5e5;
  }
}

.p-table th {
  padding: 30px 0;
  border-bottom: 1px dashed #e5e5e5;
  width: 100%;
  line-height: 1.75;
  display: block;
  font-size: 16px;
}

@media (min-width: 1280px) {
  .p-table th {
    display: table-cell;
    width: 30%;
    text-align: left;
    padding: 28px 0px 27px 30px;
  }
}

.p-table td {
  line-height: 1.75;
  padding: 30px 0;
  display: block;
  height: 50%;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

@media (min-width: 1280px) {
  .p-table td {
    text-align: initial;
    display: table-cell;
    padding: 28px 106px 27px 30px;
    width: 60%;
    font-weight: bold;
    padding: 28px 405px 27px 30px;
  }
}

.p-faq {
  margin-top: 50px;
  width: 100%;
}

.p-faq h1 {
  text-align: center;
}

.p-faq__wrap {
  text-align: center;
  width: 100%;
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.p-faq__wrap__list {
  width: 80%;
  margin: 0 auto;
}

.c-faq__titile {
  color: #333333;
  border: 1px solid #e5e5e5;
  padding: 20px;
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.85;
}

.c-faq__text {
  line-height: 1.85;
  color: #444444;
  font-weight: bold;
  border: 1px solid #e5e5e5;
  padding: 20px;
  background-color: #f2f2f2;
  text-align: left;
  display: none;
}

.p-blog {
  width: 100%;
  background-color: #eefbfb;
  padding-bottom: 30px;
  padding-top: 64px;
}

.p-blog h1 {
  text-align: center;
  color: #333333;
}

@media (min-width: 1280px) {
  .p-blog__wrap {
    display: flex;
    width: 90%;
    margin: 0 auto;
    max-width: 1227px;
    margin-top: 55px;
    padding-bottom: 91px;
  }
}

.p-blog__box {
  text-align: center;
  background-color: #fff;
  width: 389px;
  height: 100%;
  margin: 30px auto 0 auto;
  box-shadow: 0px 3px 6px #00000029;
}

@media (min-width: 768px) {
  .p-blog__box {
    width: 500px;
  }
}

@media (min-width: 1280px) {
  .p-blog__box {
    margin: 0 10px;
    width: 100%;
  }
}

.c-blog__pictuer {
  color: #333333;
  height: 260px;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .c-blog__pictuer {
    height: 350px;
  }
}

.c-blog__text {
  font-weight: bold;
  margin: 0 auto;
  color: #333333;
  height: 127px;
  width: 100%;
  font-size: 14px;
  text-align: left;
  position: relative;
  padding: 19px 30px 0 18px;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .c-blog__text {
    height: 150px;
  }
}

@media (min-width: 1280px) {
  .c-blog__text {
    font-size: 18px;
  }
}

.c-blog__text time {
  color: #444444;
  position: absolute;
  top: 10%;
  right: 10%;
}

.u-date {
  text-align: initial;
  padding-top: 10%;
  padding-left: 70%;
  padding-bottom: 50px;
}

.p-works h1 {
  text-align: center;
}

@media (min-width: 1280px) {
  .p-works h1 {
    padding-top: 65px;
  }
}

.p-works span {
  padding-bottom: 69px;
}

.p-contact {
  background: linear-gradient(90deg, #05a5fa 0%, #63fbd7 100%);
  width: 100%;
  font-weight: bold;
  padding-bottom: 30px;
}

.p-contact h1 {
  text-align: center;
  padding-top: 72px;
}

.p-contact span {
  color: #fff;
}

.p-contact__form {
  width: 90%;
  max-width: 908px;
  margin: 0 auto;
  height: 100%;
  background-color: #fff;
  padding: 39px 63px 35px 63px;
  margin-bottom: 70px;
}

.p-contact__form .c-button {
  padding: 10px 50px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 33px;
  margin-bottom: 35px;
}

input {
  display: block;
  margin: 12px 0;
}

label {
  display: block;
  margin-top: 25px;
  color: #333333;
  appearance: none;
}

.c-form__required {
  color: #fff;
  background-color: #0c449b;
  font-size: 14px;
  border-radius: 10px;
  padding: 5px 16px;
  margin-left: 20px;
}

.c-contact__text {
  text-align: center;
  color: #fff;
  margin-top: 42px;
  padding-bottom: 44px;
}

.u-color {
  color: #fff;
}

.u-size {
  height: 179px;
  width: 100%;
}

@media (min-width: 1280px) {
  .u-padding {
    padding: 0 84px 0 0;
  }
}

.p-swiper-container {
  width: 100%;
  height: 500px;
}

.p-swiper-container .swiper-slide {
  border: 1px solid #dddddd;
  height: 403px;
  box-sizing: border-box;
  display: block;
  width: 322px;
  margin-right: 20px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0;
}

.p-swiper-container .swiper-slide h1 {
  padding-top: 23px;
  font-size: 16px;
  padding-left: 18px;
  text-align: left;
  color: #333333;
}

.p-swiper-container .swiper-slide p {
  padding-top: 32px;
  padding-left: 18px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  color: #333333;
}

.p-swiper-container .swiper-slide img {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.c-checkbox {
  display: flex;
  justify-content: center;
  color: #333333;
  align-items: center;
}

.c-checkbox input {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  margin-right: 10px;
}

.c-form__input, .c-form__input__textarea {
  border-radius: 3px;
  padding: 0 10px;
  border-radius: 3px;
  width: 80%;
  background-color: #eefbfb;
  display: block;
  height: 43px;
  margin-top: 24px;
}

.c-form__input__textarea {
  height: 179px;
  width: 100%;
}

.l-footer {
  width: 100%;
  height: 100%;
  padding: 30px;
  color: #333333;
}

.l-footer h1 {
  font-size: 24px;
  text-align: center;
}

.l-footer ul {
  font-weight: bold;
  display: flex;
  margin-top: 30px;
  text-align: center;
  justify-content: center;
  font-size: 24px;
}

.l-footer ul li {
  font-size: 14px;
  list-style: none;
  padding-left: 20px;
}

@media (min-width: 1280px) {
  .l-footer ul li {
    font-size: 16px;
  }
}

.l-footer p {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #333333;
}

@media (min-width: 1280px) {
  .l-header__wrap {
    align-items: center;
    display: flex;
    max-width: 1022px;
    width: 90%;
    margin: 0 auto;
  }
}

.u-text {
  text-align: left;
}

.c-end-message {
  display: none;
  text-align: center;
}

.c-false-message {
  display: none;
  text-align: center;
}

.u-display {
  display: block;
}

body {
  overflow-x: hidden;
}
/*# sourceMappingURL=styles.css.map */