.p-dropdown-menu {
  width: 100%;
  text-align: center;
  background-color: #fff;
  @include breakpoint(pc) {
    height: 30px;
    

  }
 
  &__list {
    @include breakpoint(pc) {
    }
    a {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.55);
      text-decoration: none;
      @include breakpoint(pc) {
        color: #333333;
      }
      &:hover {
        color: #000;
      }
    }

    // opacity: 0;
    top: 50%;
    // visibility: hidden;
    // transition: 0.5s;
    color: black;
    display: none;
    @include breakpoint(pc) {
      display: flex;
    }
    &.is-open {
      top: 100%;

      // visibility: visible;

      // opacity: 1;
    }
  }
}
