.p-faq {
  margin-top: 50px;
  width: 100%;
  h1 {
    text-align: center;
  }
  &__wrap {
    text-align: center;
    width: 100%;
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 50px;
    &__list {
      width: 80%;
      margin: 0 auto;
    }
  }
}