.p-hamburger {
  position: relative;
  top: 20%;
  right: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: block;
@include breakpoint (pc) {
  display: none;
}
  span {
    width: 30px;
    height: 2px;
    font-size: 0;
    position: absolute;
    background: #2498b3;
    background-size: auto 1px;
    left: calc(50% - (20px / 2));
    top: 50%;
    transition: transform 0.2s;
  }
  &.is-open span {
    display: none;
  }
  &.is-open::after {
    transform: rotate(-45deg);
    top: 24px;
  }
  &.is-open::before {
    transform: rotate(45deg);
    top: 24px;
  }
  &::before {
    content: "";
    width: 30px;
    height: 2px;
    background-color: #2498b3;
    position: absolute;
    left: calc(50% - (20px / 2));
    display: block;
    transition: transform 0.2s;
    bottom: 15px;
  }
  &::after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: #2498b3;
    position: absolute;
    left: calc(50% - (20px / 2));
    display: block;
    transition: transform 0.2s;
    top: 15px;
  }
}
