.p-hero {
  text-align: left;

  height: 100%;
  width: 100%;
  padding-top: 200px;
  @include breakpoint(pc) {
    max-width: 1022px;
    margin: 0 auto;
    padding: 0;
  }

  &__botton {
    width: 155px;
    height: 37px;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 10%;
    @include breakpoint(pc) {
      margin: 51px 0 0 0;
    }
  }
  h1 {
    color: #333333;
    font-size: 32px;
    font-weight: bold;
    width: 80%;
    margin: 0 auto;

    @include breakpoint(pc) {
      padding: 168px 0 38px 0;
      width: auto;
    }
  }
  p {
    color: #333333;
    width: 80%;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 16px;

    @include breakpoint(pc) {
      margin: 0;
    }
  }
  img {
    width: 80%;
    margin-left: 10%;
    @include breakpoint(tablet) {
      margin: 0;
      position: absolute;
      top: 20%;
      right: 0;
      width: 50%;
    }
    @include breakpoint(pc) {
      width: auto;
      position: absolute;
      top: 20%;
      right: 15%;
    }
  }
}
