.p-swiper-container {
  width: 100%;
  height: 500px;

  .swiper-slide {
    border: 1px solid #dddddd;
    height: 403px;
    box-sizing: border-box;
    display: block;
    
    margin-right: 20px;

    box-shadow: 0px 3px 6px #00000029;
    border-radius: 0;
    h1 {
      padding-top: 23px;
      font-size: 16px;
      padding-left: 18px;
      text-align: left;
      color: #333333;
    }
    p {
      padding-top: 5%;
      
      padding-left: 18px;
      font-weight: bold;
      font-size: 80%;
      line-height: 1.2;
      color: #333333;
      @include breakpoint (tablet) {
        font-size: 14px;
        padding-top: 32px;
      }
    }
    img {
      object-fit: cover;
      height: 200px;
      width: 100%;
    }
  }
}